.criminalsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.criminal {
  flex-basis: 25%;
  justify-content: space-around;
}

.criminal__info {
  border: 1px dotted;
  margin: 12px 0;
  padding: 0 8px 12px;
}

.filters {
  display: flex;
}