.notesAndCriminalsContainer {
  display: flex;
}

.criminalsContainer {
  display: flex;
  justify-content: space-around;
}

.criminal {
  flex-basis: 50%;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.criminal__info {
  flex-basis: 30%;
  border: 1px dotted;
  margin: 12px 0;
  padding: 0 8px 12px;
}

.filters {
  display: flex;
}